################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/Projet 7 - Bis/FileContentIndex/*.vsidx
/.vs/*.sqlite
/Backend/images/*.png
/Backend/images/*.jpeg
/Backend/images/*.jpg
/Backend/database.sqlite
