################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Projet 7 - Bis/FileContentIndex/846dcf40-1ade-47c2-b1ce-745e0441c8e5.vsidx
/.vs/slnx.sqlite
/.vs/Projet 7 - Bis/FileContentIndex/e8a51da8-20a0-41b2-9780-b5770727879e.vsidx
/.vs/Projet 7 - Bis/FileContentIndex/*.vsidx
